@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

html, body {
  overflow-x: hidden;
}

header {
  display: block;
}
header .navigation {
  width: 100%;
  background: rgba(0, 110, 166, 0) !important;
  position: absolute;
  height: 50px;
}
header .navigation .container {
  display: flex;
  justify-content: space-between;
}
header .navigation .container .logo {
  line-height: 50px;
}
header .navigation .container .logo a {
  color: white;
  text-decoration: none;
}
header .navigation .container .feedback {
  line-height: 50px;
}
header .navigation .container .feedback a {
  color: white;
  text-decoration: none;
}
header .navigation .container .more_inf {
  line-height: 50px;
  color: white;
  border: solid 1px #fff;
}
header .navigation .container ul {
  display: flex;
}
header .navigation .container ul li {
  list-style: none;
  width: auto;
  margin-right: 2%;
}

.selected {
  color: red;
}

.main-photo {
  align-items: center;
}
.main-photo .opacity-photo {
  width: 100%;
  background-color: black;
  z-index: 2;
}
.main-photo .opacity-photo img {
  width: 100%;
  height: 100%;
}
.main-photo .main-text {
  top: 15vW;
  color: white;
  position: absolute;
  z-index: 4;
  min-width: 50px;
  width: 50%;
  font-size: 3.3vw;
  margin-left: 5vW;
}
.main-photo .main-text h1 {
  text-transform: uppercase;
  font-size: 3vw;
  max-width: 40ch;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.main-photo .main-text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  padding-bottom: 3%;
}
.main-photo .main-text span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-photo .main-text span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

main {
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
}

.block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 30px;
  height: 30%;
}

.link {
  margin: 0 1%;
  width: 30%;
}

.block .link-item {
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}

.block img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.gallery-item {
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}

.link_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.link-item:hover .link_text {
  opacity: 1;
}

.zero-block {
  background-color: white;
}

.container {
  justify-content: space-between;
  padding: 4%;
}
.container .zero-block_right_part {
  margin-right: 2%;
}
.container .zero-block_right_part .zero-block_information {
  font-size: 20px;
  margin-bottom: 7%;
  margin-top: 7%;
  max-width: 100%;
}
.container .zero-block_right_part .zero-block_information .wrap {
  display: flex;
}
.container .zero-block_right_part .zero-block_information .wrap .zero_block_poem {
  width: 746px;
}
.container .zero-block_right_part .zero-block_information .wrap .zero_block_poem .zero_block_autor {
  display: flex;
  justify-content: right;
  text-decoration: underline;
}
.container .zero-block_right_part .zero-block_information .wrap .zero-block_information_img {
  width: 50%;
}
.container .zero-block_right_part .zero-block_information .wrap .zero-block_information_img img {
  max-width: 100%;
}

/* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */
.element-animation {
  margin: 2rem 0;
  font-size: 2rem;
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.first-block {
  background-color: rgba(134, 164, 200, 0.4);
}
.first-block .container {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}
.first-block .container .first-block_right_part {
  margin-right: 2%;
  width: 50%;
}
.first-block .container .first-block_right_part .first-block_header {
  font-size: 2rem;
  margin-bottom: 4%;
}
.first-block .container .first-block_img {
  width: 50%;
}
.first-block .container .first-block_img img {
  width: 100%;
}
.first-block .container .first-block_information-button {
  margin-top: 10px;
  display: flex;
}
.first-block .container .first-block_information-button a {
  text-transform: uppercase;
  border-radius: 20px;
  justify-content: center;
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 40px;
  height: 40px;
  width: 170px;
  background-color: rgb(2, 43, 105);
}

.second-block {
  background-color: white;
}
.second-block .container {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}
.second-block .container .second-block_right_part {
  margin-right: 2%;
  width: 50%;
}
.second-block .container .second-block_right_part .second-block_circle {
  transform: translateY(-107px);
  display: flex;
  margin-left: 444px;
  height: 98px;
  width: 98px;
  background: rgba(0, 110, 166, 0.4);
  border-radius: 50%;
  position: absolute;
  transform: translateY(-47px);
}
.second-block .container .second-block_header {
  font-size: 2rem;
  margin-bottom: 4%;
}
.second-block .container .second-block_img {
  width: 50%;
}
.second-block .container .second-block_img img {
  width: 50%;
}
.second-block .container .second-block_information-button {
  margin-top: 10px;
  display: flex;
}
.second-block .container .second-block_information-button a {
  text-transform: uppercase;
  border-radius: 20px;
  justify-content: center;
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 40px;
  height: 40px;
  width: 170px;
  background-color: rgb(2, 43, 105);
}

#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plane-ln {
  vertical-align: middle;
  position: absolute;
  transform: translateX(-103px);
  /* transform: translateY(-20px); */
  width: 230px;
  z-index: 2;
  top: -55px;
}

.container-line {
  width: 900px;
  margin: auto;
  padding: 3%;
}

#tab1, #tab2, #tab3, #tab4, #tab5 {
  display: none;
  text-align: justify;
}

#tab1.active {
  display: block;
}
#tab1.active .infomation-item-block1 {
  display: flex;
  margin-bottom: 4%;
}
#tab1.active .infomation-item-block1 img {
  width: 50%;
  margin-right: 20px;
  height: 350px;
}
#tab1.active .infomation-item-block2 {
  display: flex;
  width: 100%;
}
#tab1.active .infomation-item-block2 img {
  width: 50%;
  margin-left: 20px;
  height: 350px;
}

#tab2.active {
  display: block;
}
#tab2.active .block1 img {
  width: 100%;
}

#tab3.active {
  display: block;
}
#tab3.active .block1 img {
  width: 100%;
}
#tab3.active .block2 {
  display: flex;
}
#tab3.active .block2 img {
  width: 50%;
  margin-right: 1%;
}

#tab4.active {
  display: block;
}

#tab5.active {
  display: block;
}

#form-title {
  color: rgba(0, 0, 0, 0.829);
}

form {
  margin-bottom: 40px;
  width: 500%;
  max-width: 1000px;
}
form #form-title {
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}
form #debt-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}
form #debt-amount-slider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (4 / 5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}
form #debt-amount-slider input, form #debt-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
  background: url(../img/pngwing.com.png) no-repeat scroll 7px 7px;
  padding-left: 30px;
}
form #debt-amount-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  user-select: none;
}
form #debt-amount-slider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0, 2s ease-in-out;
}
form #debt-amount-slider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
form #debt-amount-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}
form #debt-amount-slider input {
  display: none;
}
form #debt-amount-slider input:checked + label::before {
  font-weight: 800;
  opacity: 1;
}
form #debt-amount-slider input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}
form #debt-amount-slider input:checked ~ #debt-amount-pos {
  opacity: 1;
}
form #debt-amount-slider input:checked:nth-child(1) ~ #debt-amount-pos {
  left: 10%;
}
form #debt-amount-slider input:checked:nth-child(3) ~ #debt-amount-pos {
  left: 30%;
}
form #debt-amount-slider input:checked:nth-child(5) ~ #debt-amount-pos {
  left: 50%;
}
form #debt-amount-slider input:checked:nth-child(7) ~ #debt-amount-pos {
  left: 70%;
}
form #debt-amount-slider input:checked:nth-child(9) ~ #debt-amount-pos {
  left: 90%;
}
form #debt-amount-slider #debt-amount-pos {
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  opacity: 0;
  z-index: 2;
}
form:valid #debt-amount-slider input + label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 1.5s linear;
}
form:valid #debt-amount-slider input:checked + label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 1.5s linear;
}
form + button {
  display: block;
  position: relative;
  margin: 56px auto 0;
  padding: 10px 20px;
  appearance: none;
  transition: all 1.15s ease-in-out;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  outline: 0;
  user-select: none;
  cursor: pointer;
}
form + button:hover {
  background: #000;
  color: #fff;
}
form + button:hover:active {
  transform: scale(0.9);
}
form + button:focus {
  background: #4caf50;
  border-color: #4caf50;
  color: #fff;
  pointer-events: none;
}
form + button:focus::before {
  animation: spin 1s linear infinite;
}
form + button::before {
  display: inline-block;
  width: 0;
  opacity: 0;
  content: "\f3f4";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 0;
  transform: rotate(0deg);
}
form:invalid + button {
  pointer-events: none;
  opacity: 1.25;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}
.page_1_main {
  margin: 3%;
}
.page_1_main img {
  width: 300px;
  height: 300px;
}

.modal-body .home-page_form .home-page_form_firstpart {
  margin-bottom: 3%;
  display: flex;
  width: 80%;
}
.modal-body .home-page_form .home-page_form_firstpart .home-page_form-name {
  margin-right: 2%;
  font-size: 1vw;
}
.modal-body .home-page_form .home-page_form_firstpart .home-page_form-name .home-page_form_file-text {
  font-size: 20px;
}
.modal-body .home-page_form .home-page_form_firstpart input {
  border-radius: 20px;
}
.modal-body .home-page_form .home-page_form_message {
  margin-bottom: 3%;
}
.modal-body .home-page_form .home-page_form_message textarea {
  border-radius: 20px;
  width: 40%;
  height: 5vw;
  border: #000 2px solid;
}
.modal-body .home-page_form .home-page_form_file {
  margin-bottom: 3%;
}
.modal-body .home-page_form .home-page_form_button input {
  background: rgb(2, 43, 105);
  border: none;
  border-radius: 20px;
  width: 20VW;
  height: 6VH;
  color: #fff;
}

footer {
  padding: 3% 0;
  height: 100%;
  color: white;
  background-color: #006ea6;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .social_media_history-museum {
  width: 20%;
}
footer .container .social_media_history-museum .social_media_history-museum-header {
  font-size: 1.6vW;
  margin-bottom: 3%;
}
footer .container .social_media_history-museum .footer_button_vk {
  margin-bottom: 5%;
}
footer .container .social_media_history-museum .footer_button_vk a {
  color: white;
  display: flex;
}
footer .container .social_media_history-museum .footer_button_vk .footer_button_vk-bacground {
  display: flex;
  background-color: #fff;
  margin-right: 5%;
  border-radius: 50%;
}
footer .container .social_media_history-museum .footer_button_vk .footer_button_vk-bacground img {
  width: 30px;
}
footer .container .social_media_history-museum .footer_button_vk .footer_button_home-bacground {
  display: flex;
  margin-right: 5%;
}
footer .container .social_media_history-museum .footer_button_vk .footer_button_home-bacground img {
  width: 30px;
}
footer .container .social_media_history-museum .footer_button_insta {
  margin-bottom: 5%;
}
footer .container .social_media_history-museum .footer_button_insta a {
  color: white;
}
footer .container .social_media_history-museum .footer_button_insta img {
  width: 30px;
  margin-right: 5%;
}
footer .container .footer_main_inf {
  width: 30%;
}
footer .container .footer_main_inf .footer_main_inf-header {
  font-size: 1.6vW;
  margin-bottom: 3%;
}
footer .container .admin {
  width: 17%;
}

.demo {
  width: 80%;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 320px;
  height: 180px;
  margin: 2px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
}
.wrapper a {
  display: flex;
  width: 100%;
  height: 200px;
}

.img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}

.personality-main {
  margin-top: 20px;
}
.personality-main .personality_first-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.personality-main .personality_first-block .personality_first-block-photo {
  width: 50%;
}
.personality-main .personality_first-block .personality_first-block-photo img {
  width: 100%;
}
.personality-main .personality_first-block .personality_first-block-description {
  width: 40%;
}

.navigation_main_information {
  width: 100%;
  position: fixed;
  background: rgb(2, 43, 105) !important;
  height: 90px;
}
.navigation_main_information .container .navigation_main_information_text {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.navigation_main_information .container .navigation_main_information_text .logo {
  line-height: 90px;
}
.navigation_main_information .container .navigation_main_information_text .logo a {
  color: white;
  text-decoration: none;
}
.navigation_main_information .container .navigation_main_information_text ul {
  display: flex;
  line-height: 90px;
}
.navigation_main_information .container .navigation_main_information_text ul li {
  list-style-type: none;
  width: 150px;
}
.navigation_main_information .container .navigation_main_information_text ul li a {
  color: #fff;
  text-decoration: none;
}
.navigation_main_information .container .navigation_main_information_text .feedback {
  line-height: 90px;
}
.navigation_main_information .container .navigation_main_information_text .feedback a {
  color: white;
  text-decoration: none;
}
.navigation_main_information .container .navigation_main_information_text .more_inf {
  line-height: 90px;
  color: white;
  border: solid 1px #fff;
}

.page-personalities-main {
  background-color: #006ea6 !important;
}

.main_information_blocks .container-fluid {
  display: flex;
  padding: 2%;
}

.main_information_navigation {
  padding-top: 4%;
  display: flex;
  justify-content: right;
  width: 12%;
  position: fixed;
  right: 3%;
}
.main_information_navigation .main_information_navigation_yakors {
  height: 100%;
  border-right: #006ea6 solid 2px;
  padding-right: 10%;
}
.main_information_navigation .main_information_navigation_yakors .link_yakor {
  display: flex;
  justify-content: right;
}
.main_information_navigation .main_information_navigation_yakors a {
  display: flex;
  color: rgb(15, 107, 143);
  text-decoration: none;
  padding-top: 2%;
}

.block_only-text .container {
  padding: 2%;
  text-align: justify;
}

/* Задаем высоту большим блокам, чтобы у нас на странице получится скролл *//*# sourceMappingURL=style.css.map */